@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@600&family=Bebas+Neue&family=Kanit:wght@300&family=Orelega+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: url(../images/quiz-background.png) no-repeat center center fixed;
    background-size: cover;

}

p {
    font-size: 150%;
    font-weight: 400;
}

#logo {
    font-family: 'orelega one', cursive;
    font-size: 200%;
    right: 50%;
    background-color: black;
    height: auto;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    text-shadow: 2px 2px 5px grey;
    letter-spacing: 4px;
    padding: 10px;

}

#question-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(12, 6, 6, 0.534);
    color: whitesmoke;
    width: 50vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    margin-top: 50px;
    border: black 4px solid;
    max-width: 80%;

}

#question {
    font-size: 150%;
    font-family: 'kanit', sans-serif;

}

#answer-btn-container {
    display: grid;
}

.button {
    margin: 10px 10px;
    font-family: 'kanit', sans-serif;
    font-weight: 900;
    border: black 4px solid;
    width: 200px;
    height: auto;
    font-size: 125%;
    padding: 10px;

}

.button:hover {
    background-color: green;
}

#under-game {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    margin-top: 20px;

}

#score-area {
    padding: 15px;
    background-color: rgba(12, 6, 6, 0.534);
    color: whitesmoke;
    display: none;
    border: black 4px solid;

}

#start-contain {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 190px;
    width: 300px;
    background: url(/assets/images/stars-background.png) no-repeat;
    background-size: 100%;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 50px;

}

#quiz-container {
    display: none;
}

#clock-contain {
    font-size: 125%;
    background-color: white;
    display: flex;
    justify-content: center;
    font-family: 'arimo', sans-serif;
    height: auto;
    color: black;
    width: auto;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: black solid 4px;
    background-color: beige;
    border-radius: 20%;
    z-index: 100;
    width: 400px;
    max-width: 75%;
    height: 400px;
    /* to be hidden 
    display: none;
    */

}